@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.nav {
  display: flex;
  gap: 20px;
  width: 100%;

  z-index: 4;
  opacity: 1;
  pointer-events: auto;

  @media(min-width: 390px) { gap: 28px; }

  @include layout($screen: 'mob') {
    position: static;
    justify-content: center;
    padding-top: 74px;
    width: calc(100% - 48px);
    background-color: #ffffff;
    margin: 0 auto;
  }

  @include layout($screen: 'mob', $is-header-collapsed: true) {
    gap: 0;
    justify-content: space-around;
  }

  @include layout($screen: 'mob', $is-header-collapsed: false) {
    padding-top: 12px;
    height: auto;
    background-color: transparent;
  }

  @include layout($screen: 'mob', $is-nav-hidden: true) {
    opacity: 0;
    pointer-events: none;
  }

  @include layout($screen: (desk, tab)) {
    position: fixed;
    justify-content: center;
    height: 92px;
    padding-block: 14px 16px;
    transform: translateY(0);
    will-change: transform;
    transition: opacity 0.2s ease-out,
                transform $anim-slow;
  }

  @include layout($screen: (desk, tab), $is-header-collapsed: true) {
    opacity: 0;
    transform: translateY(-92px);
  }

  @include layout($page-type: 'details') {
    position: absolute;
  }

  @include layout($is-form-disabled: true) {
    padding-top: 4px;
  }

  @include layout($screen: 'mob', $is-hub: false, $is-header-collapsed: true) {
    display: none;
  }
}








