@use '@/shared/styles/variables' as *;

.main {
  transform: translate3d(0, 0, 0);
  contain: layout style paint;

  will-change: transform;
  transition: transform $anim-slow;

  &[data-lifted='true'][data-hub='true'] {
    transform: translateY(-100px);
  }
}