@use '@/shared/styles/mixins' as *;

.footer {
  display: flex;

  @media (max-width: 767px) {
    @include layout($is-header-collapsed: false) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
      width: 100%;
      padding-inline: 12px;
      opacity: 0;

      animation: slideInUp 0.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
  }

  @media (min-width: 768px) {
    justify-self: end;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}