@use '@/styles/mixins' as *;

.auth {
  display: none;

  @include layout($screen: (desk, tab)) {
    display: block;
    position: fixed;
    right: 24px;
    top: 0;
    transform: translateY(24px);
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease-out;

    @media (min-width: 1200px) { right: 40px; }
  }

  @include layout($screen: 'tab', $mode: 'collapsed') {
    transform: translateY(18px);
  }

  @include layout($screen: 'desk', $mode: 'collapsed') {
    transform: translateY(28px);
  }

  @include layout($view: 'details') {
    position: absolute;
  }
}




