@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, #e61f4f, #d80565);
  }

  .icon {
    display: block;
    height: 16px;
    width: 16px;
    stroke: #ffffff;
    stroke-width: 4px;
    overflow: visible;
    margin-right: 8px;
  }

  .label {
    display: none;
  }

  @include layout($screen: 'mob') {
    min-height: 46px;
    padding: 0 25px;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
    background: linear-gradient(to right, #e61d4d, #d70665);

    .label {
      display: inline;
      font-size: 16px;
    }
  }

  @include layout($screen: (desk, tab)) {
    --inv-form-scale-x: calc(1 / var(--form-scale-x));
    --inv-form-scale-y: calc(1 / var(--form-scale-y));

    --btn-ratio: calc(32 / 50);

    --btn-scale-x: calc(var(--btn-ratio) * var(--inv-form-scale-x));
    --btn-scale-y: calc(var(--btn-ratio) * var(--inv-form-scale-y));

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, $color-btn, $color-btn);

    will-change: transform;
    transition: background $anim-slow, transform $anim-slow;
    .icon { margin: 0; }
  }
  @include layout($screen: (desk, tab), $mode: 'expanded') {
    transition: opacity $anim-fast;
  }

  @include layout($screen: (desk, tab), $mode: 'collapsed') {
    transform: scale(var(--btn-scale-x), var(--btn-scale-y))
               translateX(-5px);
  }

  @include layout($disabled: true) {
    background: #989a91;
    opacity: 0.4;
  }
}







