.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  color: #222222;
}

.solid {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.glass {
  background-color: rgba(255, 255, 255, 0.58);
}

.ghost {
  background-color: transparent;
}

.xs {
  width: 24px;
  height: 24px;
}

.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 40px;
  height: 40px;
}

.hover-bg {
  transition: background-color .2s ease-out;
  &:hover {
    background-color: #f7f7f7;
  }
}

.hover-scale {
  transition: transform .2s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}

//.likeBtn {
//    font-size: 22px;
//    border: none;

//}
