.footer {
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.footer button {
  margin-left: 20px;
  padding: 14px 20px;
  border: 1px solid #777777;
  border-radius: 30px;
  cursor: pointer;
}
