@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.layout {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include no-transitions;
}

.main {
    display: flex;
    flex-direction: column;

    contain: layout style;
    backface-visibility: hidden;
    will-change: transform;
    transition: transform $anim-slow;

    @include layout($screen: ('desk', 'tab'), $hub: true, $mode: 'expanded', $floating: false) {
        transform: translateY(0);
    }

    @include layout($screen: ('desk', 'tab'), $hub: true, $mode: 'collapsed', $floating: false) {
        transform: translateY(-100px);
    }

    @include layout($screen: ('desk', 'tab'), $hub: true, $mode: 'expanded', $floating: true) {
        transform: translateY(-100px);
    }
}




