.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385b;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #dc1261;
  }
}

.searchIcon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: #ffffff;
  stroke-width: 4px;
  overflow: visible;
}

@media(max-width: 768px) {
  .searchButton {
    display: flex;
    align-items: center;
    min-height: 46px;
    padding: 0 25px;
    background: linear-gradient(to right, #e61d4d, #d70665);
    border-radius: 8px;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
  }

  .searchIcon {
    font-size: 20px;
    margin-right: 8px;
  }

}



