@use '@/styles/variables' as *;

/* Placeholder для RangePicker */
.rangePicker :global(.ant-picker-input > input::placeholder) {
    color: #797979;
    font: $font-sm;
}

/* Текст після вибору дати */
.rangePicker :global(.ant-picker-input > input) {
    font: $font-sm;
    color: #3a3a3a;
    padding: 1px 0;
}



