@use '@/styles/variables' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  font-family: $font-family;
  background-color: $color-primary-100;
  color: $color-text;
}

html {
  // Вмикаємо магнітний скрол по вертикалі
  scroll-snap-type: y mandatory;
}

img {
  display: block;
  max-width: 100%;
}

button, input, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}


