.contacts h1 {
    margin-bottom: 50px;
}

.contacts ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.contacts__option {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s linear;
}

.contacts__option:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.mode-light {
    color: #000000;
}

.mode-dark {
    color: #ffffff;
}

.mode-light .contacts__option {
    background-color: #ffffff;
}

.mode-dark .contacts__option {
    background-color: #2b2d30;
}
