@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.panel {
  width: 100%;
  display: flex;
  justify-content: center;

  @include layout($screen: (desk, tab)) { padding: 0; }
}