.cardSkeleton {
  min-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.image {
  width: auto;
  margin: -1px;
  aspect-ratio: 7 / 5;
  background-color: #ebebeb;
  border-radius: 24px;

  @media(min-width: 576px) {
    aspect-ratio: 1 / 0.9;
  }
}

.content {
  padding-top: 6px;
  padding-left: 6px;
}

.title {
  width: 75%;
  height: 16px;
  background-color: #ebebeb;
  border-radius: 8px;
  margin-bottom: 4px;
}

.meta {
  width: 50%;
  height: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
}