.likeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    z-index: 1;
    &:hover {
        transform: scale(1.1);
    }
}

