@use '@/styles/variables' as *;

.input {
  width: 180px;
  font: $font-sm;
  color: #000000E0;

  @media (min-width: 480px) { width: 240px;}
  @media (min-width: 576px) { width: 300px }
  @media (min-width: 768px) { width: 100% }
}

.customDatePopup {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

@media (max-width: 767px) {
  .customDatePopup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

    :global(.ant-picker-panel-container) {
      border-radius: 26px !important;
    }

    :global(.ant-picker-panels) {
      flex-direction: column !important;
      padding: 30px !important;
    }

    :global([class*='-arrow']) {
      &::before, &::after {
        display: none;
      }
    }

    animation-duration: .5s !important;

    &:global(.ant-slide-up-leave-active) {
      animation-duration: .1s !important;
      animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    }
  }
}

