.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__list {
  border-radius: 5px;
}

.todo__item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 16px;
  min-height: 52px;
  border: 1px solid #cacaca;
  border-bottom: none;
}

.todo__item:first-child {
  border-radius: 10px 10px 0 0;
}

.todo__item:last-child {
  border-bottom: 1px solid #616161;
  border-radius: 0 0 10px 10px;
}

.todo__item input {
  width: 100%;
  padding: 4px;
  font-size: 16px;
}

.todo__item button {
  background-color: #65865c;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 4px 12px;
  margin-left: 4px;
}

.todo__item-text {
  padding-right: 15px;
  text-align: start;
  margin-right: auto;
}

.completed span {
  text-decoration: line-through;
}

.mode-light  {
  color: #000000;
}

.mode-dark {
  color: #ffffff;
}

.mode-light .todo__item  {
  background-color: #ffffff;
  border-color: #cacaca;
}

.mode-dark .todo__item {
  background-color: #2e2e2e;
  border-color: #5a5a5a;
}