.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px 90px;
}

.resultList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .resultsContainer {
    padding-block: 50px;
  }
}

