@use '@/styles/variables' as *;

.destinations {
    min-height: calc(100vh - 56px - 80px);
    font: $font-lg;
    color: #d1d1d1;
    text-transform: uppercase;
}

.searchSection {
    display: flex;
    justify-content: center;
    padding: 50px 0 30px;
    background-color: $color-primary-300;
    border-bottom: 1px solid #ebebeb;
}