@use 'sass:meta';
@use 'sass:list';

@mixin layout(
  $is-header-collapsed:  null,
  $is-content-lifted:    null,
  $has-header-overlay:   null,

  $page-type:            null,
  $is-hub:               null,
  $is-wip:               null,

  $is-nav-hidden:        null,
  $are-nav-icons-hidden: null,

  $intro-status:         null,
  $skip-intro:           null,
  $is-scrolled:          null,
  $no-transitions:       null,

  $has-passed-threshold: null,

  $self:                 false,
) {

  $selectors-map: (
    "page-type": $page-type,
    "hub": $is-hub,

    "header-collapsed": $is-header-collapsed,
    "content-lifted": $is-content-lifted,
    "header-overlay": $has-header-overlay,

    "wip": $is-wip,
    "nav-hidden": $is-nav-hidden,
    "nav-icons-hidden": $are-nav-icons-hidden,

    "scrolled": $is-scrolled,
    "skip-intro": $skip-intro,
    "no-transitions": $no-transitions,

    "passed-threshold": $has-passed-threshold,
  );

  $selectors-chain: "";

  @each $name, $value in $selectors-map {
    @if $value != null {
      $selectors-chain: $selectors-chain + "[data-#{$name}='#{$value}']";
    }
  }

  $intro-list: (null);

  @if meta.type-of($intro-status) == "list" {
    $intro-list: $intro-status;
  }
  @else if $intro-status {
    $intro-list: ($intro-status);
  }

  $final-selector-list: ();

  @each $s in $intro-list {
    $intro-selector: "";

    @if($s) {
      $intro-selector: "[data-intro-status='#{$s}']"
    }

    $full-path: "";

    @if $self {
      $full-path: "&#{$intro-selector}#{$selectors-chain}";
    } @else {
      $full-path: ":global(#{$intro-selector}#{$selectors-chain}) &";
    }

    $final-selector-list: list.append($final-selector-list, $full-path, comma);
  }

  $has-selectors: ($selectors-chain != "" or $intro-status != null);

  @if $has-selectors {
    #{$final-selector-list} {
      @content;
    }
  }
}

@mixin no-transitions {
  &[data-no-transitions='true'] {
    &, & * {
      transition: none !important;
      animation: none !important;
    }
  }
}