.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.disclaimer {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-weight: 350;
  color: #6a6a6a;
  padding-top: 10px;
  @media (min-width: 468px) {
    padding-top: 8px;
  }
}

.buttonWrapper {
  margin-top: 16px;
}








