@use '@/styles/mixins' as *;

.icon {
  overflow: hidden;
  transition: transform 0.2s ease-out;
  will-change: opacity, transform;

  @include layout($screen: 'mob', $mode: 'collapsed') {
    overflow: hidden;
    will-change: transform, opacity;
    transform: scale(1);
    opacity: 1;

    transition:
            transform 0.2s cubic-bezier(0.35, 0, 0.25, 1),
            opacity 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }

  @include layout($screen: 'mob', $icons-offscreen: true) {
    transform: scale(0.6);
    opacity: 0;
  }

  @include layout($screen: 'mob', $mode: 'expanded') {
    opacity: 0;
    animation: scaleIn 0.4s cubic-bezier(0.35, 0, 0.25, 1) forwards;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}