@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.link {
  position: relative;
  display: flex;
  gap: 4px;
  padding-bottom: 4px;
  color: #6a6a6a;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: color 0.2s;
  width: var(--mobile-width);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;

  &:hover { color: #222222; }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: transparent;
  }

  &.active::after { background: #222222; }

  span {
    font-weight: 500;
    padding-bottom: 2px;
    transform: translateY(0);
    transition:
            color 0.2s cubic-bezier(0.35, 0, 0.25, 1),
            transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }

  @include layout($screen: 'mob', $icons-offscreen: true) {
    span {
      transform: translateY(-2px);
    }
  }

  @include layout($screen: (desk, tab)) {
    flex-direction: row;
    align-items: flex-end;
    width: auto;

    &:hover {
      color: #222222;
      & > div { transform: scale(1.1); }
    }

    &::after { width: calc(95%); }

    &.active {
      color: #222222;
      font-weight: 600;
      &::after { background: #222222; }
    }

    span {
      padding-bottom: 14px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
