@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.nav {
  display: flex;
  gap: 20px;
  width: 100%;

  z-index: 4;
  opacity: 1;
  pointer-events: auto;

  @media(min-width: 390px) { gap: 28px; }

  @include layout($screen: 'mob') {
    position: static;
    justify-content: center;
    padding-top: 74px;
    width: calc(100% - 48px);
    background-color: #ffffff;
    margin: 0 auto;
  }

  @include layout($screen: 'mob', $mode: 'collapsed') {
    gap: 0;
    justify-content: space-around;
  }

  @include layout($screen: 'mob', $mode: 'expanded') {
    padding-top: 12px;
    height: auto;
    background-color: transparent;
  }

  @include layout($screen: 'mob', $nav-offscreen: true) {
    opacity: 0;
    pointer-events: none;
  }

  @include layout($screen: (desk, tab)) {
    position: fixed;
    justify-content: center;
    height: 92px;
    padding-block: 14px 16px;
    transform: translateY(0);
    will-change: transform;
    transition: opacity 0.2s ease-out,
                transform $anim-slow;
  }

  @include layout($screen: (desk, tab), $mode: 'collapsed') {
    opacity: 0;
    transform: translateY(-92px);
  }

  @include layout($view: 'details') {
    position: absolute;
  }

  @include layout($disabled: true) {
    padding-top: 4px;
  }

  @include layout($screen: 'mob', $hub: false, $mode: 'collapsed') {
    display: none;
  }
}








