@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 24px;
  background: transparent;
  z-index: 4;

  @include layout($screen: 'mob', $is-header-collapsed: true) {
    position: fixed;
    top: 0;
    padding-top: 12px;
    background-color: #ffffff;
  }

  @include layout($screen: 'mob', $is-hub: false, $is-header-collapsed: true) {
    padding-block: 10px 12px;
    background: linear-gradient(to bottom, #ffffff, #fdfdfd);
    box-shadow: rgb(0 0 0/16%) 0 0 6px;
  }


  @include layout($screen: 'mob', $is-header-collapsed: false) {
    position: static;
    height: calc(100vh - 80px);
    padding: 18px 12px 20px;
  }

  @include layout($screen: 'mob', $is-hub: true, $is-nav-hidden: true) {
    background-color: #ffffff;
    box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.01),
            0 12px 16px rgba(0, 0, 0, 0.04);
  }

  @include layout($screen: (desk, tab)) {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 0;
    background: transparent;
    padding-inline: 24px;
    padding-top: 0;
    transform: translateY(96px);
    transition: transform $anim-slow;
    & > * {
      grid-area: 1/1;
    }
  }

  @include layout($screen: 'tab', $is-header-collapsed: true) {
    height: 80px;
  }

  @include layout($screen: 'desk', $is-header-collapsed: true) {
    height: 100px;
  }

  @include layout($screen: (desk, tab), $is-header-collapsed: true) {
    transform: translateY(0);
  }

  @include layout($page-type: 'details') {
    position: absolute;
  }
}

