@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 24px;
  background: transparent;
  z-index: 4;

  @include layout($screen: 'mob', $mode: 'collapsed') {
    position: fixed;
    top: 0;
    padding-top: 12px;
  }


  @include layout($screen: 'mob', $hub: false, $mode: 'collapsed') {
    padding-bottom: 14px;
    background: linear-gradient(to bottom, #ffffff, #fdfdfd);
    border-bottom: 2px solid #ebebeb;
  }


  @include layout($screen: 'mob', $mode: 'expanded') {
    position: static;
    height: calc(100vh - 80px);
    padding: 18px 12px 16px;
  }

  @include layout($screen: 'mob', $nav-offscreen: true) {
    background-color: #ffffff;
  }

  @include layout($screen: (desk, tab)) {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 0;
    background: transparent;
    padding-inline: 24px;
    padding-top: 0;
    transform: translateY(96px);
    transition: transform $anim-slow;
    & > * {
      grid-area: 1/1;
    }
  }

  @include layout($screen: 'tab', $mode: 'collapsed') {
    height: 80px;
  }

  @include layout($screen: 'desk', $mode: 'collapsed') {
    height: 100px;
  }

  @include layout($screen: (desk, tab), $mode: 'collapsed') {
    transform: translateY(0);
  }

  @include layout($view: 'details') {
    position: absolute;
  }
}

