*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

button, input, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}




