@use '@/styles/variables' as *;

.hotelInfo {
    padding-top: 4px;
    text-transform: none;
}

.hotelName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-s;
    text-transform: none;
    font-weight: 600;
    color: #2b2b2b;
    margin-bottom: 2px;
}

.hotelDescription {
    display: flex;
    gap: 10px;
    font: $font-xs;
    color: #6c6c6c;
}

.hotelPrice {
    position: relative;
    &:after {
        width: 2px;
        height: 2px;
        content: '';
        display: block;
        border-radius: 50%;
        background-color: #a1a1a1;
        position: absolute;
        right: -6px;
        top: 55%;
        transform: translateY(-50%);
    }
}



