.imageWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  & > * {
    grid-area: 1/1;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.imagePlaceholder,
.imageSkeleton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder {
  background-color: #f4f4f4;
  font-size: 50px;
  color: #e4e4e4;
}

.imageSkeleton {
  z-index: 2;
  background-color: #ebebeb;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &.hidden {
      opacity: 0;
      visibility: hidden;
  }
}
