.header {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
}

.mode-light {
    background-color: #f8f8f8;
    color: #000000;
}

.mode-dark {
    background-color: #2e2e2e;
    color: #ffffff;
}