@use '@/styles/variables' as *;

.destinationDropdown {
    width: 240px;
    text-transform: none;
}

.destinationDropdown :global(.ant-select-selection-placeholder) {/*текст в placeholder*/
    color: #797979;
    font: $font-sm;
}
.destinationDropdown :global(.ant-select-selection-item) { /*текст в селекторі*/
    font: $font-sm;
}
.destinationDropdown :global(.ant-select-selection-search-input) {
    font: $font-sm !important;
}



