@use '@/styles/variables' as *;

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px $space-2xl 0;
    background-color: $color-primary-300;
}
.navLink {
    text-decoration: none;
    color: #797979;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 12px $space-sm;
    font: $font-sm;
    border-bottom: 3px solid transparent;
    transition: color 0.2s;
    &:hover {
        color: #222222;
        background: transparent;

    }
    &.active {
        border-color: #222222;
    }
}





