@use '@/styles/variables' as *;

.header {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

@media (max-width: 768px) {
    .header {
        border-bottom: none;
        box-shadow: 0 4px 20px rgba(0,0,0,0.12);
        //background-color: #393269;
    }
}







