body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    /*----- Paddings, Margins -----*/
    --space-xs: 8px;
    --space-s: 12px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --space-2xl: 48px;
    --space-3xl: 64px;

    /*----- Fonts -----*/
    --font-family: Inter, sans-serif;

    /*----- Font weights -----*/
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-nold: 800;
    --font-weight-black: 900;

    /*----- Font sizes & line heights -----*/
    --font-size-xs: 12px;
    --font-line-height-xs: 16px;

    --font-size-s: 13px; /*need it*/
    --font-line-height-s: 16px;

    --font-size-sm: 14px;
    --font-line-height-sm: 20px;

    --font-size-base: 16px;
    --font-line-height-base: 24px;

    --font-size-lg: 18px;
    --font-line-height-lg: 28px;

    --font-size-xl: 20px;
    --font-line-height-xl: 28px;

    --font-size-2xl: 24px;
    --font-line-height-2xl: 32px;

    --font-size-3xl: 30px;
    --font-line-height-3xl: 36px;

    --font-size-4xl: 36px;
    --font-line-height-4xl: 44px;

    --font-size-5xl: 48px;
    --font-line-height-5xl: 56px;

    /*----- Font tokens -----*/
    /*font: [font-weight] [font-size]/[line-height] [font-family]*/
    --font-xs: var(--font-weight-light) var(--font-size-xs)/var(--font-line-height-xs) var(--font-family);

    --font-s: var(--font-weight-light) var(--font-size-s)/var(--font-line-height-s) var(--font-family);

    --font-sm: var(--font-weight-light) var(--font-size-sm)/var(--font-line-height-sm) var(--font-family);

    --font-base: var(--font-weight-regular) var(--font-size-base)/var(--font-line-height-base) var(--font-family);
    --font-lg: var(--font-weight-regular) var(--font-size-lg)/var(--font-line-height-lg) var(--font-family);
    --font-xl: var(--font-weight-medium) var(--font-size-xl)/var(--font-line-height-xl) var(--font-family);
    --font-2xl: var(--font-weight-semibold) var(--font-size-2xl)/var(--font-line-height-2xl) var(--font-family);
    --font-3xl: var(--font-weight-bold) var(--font-size-3xl)/var(--font-line-height-3xl) var(--font-family);
    --font-4xl: var(--font-weight-bold) var(--font-size-4xl)/var(--font-line-height-4xl) var(--font-family);
    --font-5xl: var(--font-weight-black) var(--font-size-5xl)/var(--font-line-height-5xl) var(--font-family);

    /*----- Colors -----*/
    --color-primary-900: #000000;
    --color-primary-700: #333333;
    --color-primary-500: #666666;
    --color-primary-300: #f7f7f7; /*header*/
    --color-primary-100: #ffffff;

    --color-primary-hover: #4d4d4d;
    --color-primary-active: #262626;
    --color-primary-disabled: #bfbfbf;

    --color-error: #E74C3C;

    --color-text: #e1e1e1;

    --color-brand: #ff385b;

    --anim: .5s ease-out;
    --anim-delay: .5s;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-primary-100);
    color: var(--color-text);
}
.swiper-pagination-fraction {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
