@use '@/styles/mixins' as *;

.button {
  display: none;

  @include layout($screen: 'mob', $mode: 'expanded') {
    display: block;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
  }
}
