@use '@/shared/styles/mixins' as *;

.anchorCandidate {
  --header-height: 100px;
  --scroll-top: 24px;

  scroll-margin-top: calc(var(--header-height) + var(--scroll-top));
  scroll-margin-bottom: var(--anchor-scroll-margin-bottom);

  @include layout($is-hub: false) {
    --header-height: 80px;
  }

  @media (min-width: 768px) {
    --header-height: 80px;
  }

  @media (min-width: 992px) {
    --header-height: 100px;

    @include layout($is-hub: false) {
      --header-height: 100px;
    }
  }
}