@use '@/styles/variables' as *;

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    font: $font-lg;
    color: #1e1e1e;
    text-transform: uppercase;
}