.header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #000000;
}

.link {
    text-decoration: none;
    margin: 0 10px;
    /*color: #9292ff;*/
}

.active {
    font-weight: bold;
}

.mode-light {
    background-color: #f8f8f8;
    color: #000000;
}

.mode-dark {
    background-color: #2e2e2e;
    color: #ffffff;
}