.header {
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.header h1 {
    margin-bottom: 30px;
}

.link {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

.active {
    font-weight: 600;
    text-decoration: underline;
}

.mode-light {
    background-color: #ffffff;
    color: #000000;
}

.mode-dark {
    background-color: #2b2d30;
    color: #ffffff;
}

.mode-light .link {
    color: #0303e3;
}

.mode-dark .link {
    color: #a6bfff;
}
