@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.header {
  display: flex;
  width: 100%;
  padding-inline: 24px;

  @media (min-width: 1200px) {
    padding-inline: 40px;
  }

  @include layout($screen: 'mob', $is-hub: true) {
    padding-top: 12px;
  }

  @include layout($screen: 'mob', $is-hub: false) {
    padding-top: 10px;
  }

  @include layout($screen: 'mob') {
    height: 154px;
    box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.01),
            0 12px 16px rgba(0, 0, 0, 0.04);
  }

  @include layout($screen: (tab, desk)) {
    position: relative;
    border-bottom: 2px solid #ebebeb;
  }

  @include layout($screen: (desk, tab), $is-hub: true) {
    height: 200px;
    padding-top: 28px;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
  }

  @include layout($screen: (tab, desk), $is-hub: false) {
    align-items: center;
    box-shadow: none;
  }

  @include layout($screen: (mob, tab), $is-hub: false) { height: 80px; }
  @include layout($screen: 'desk', $is-hub: false) { height: 100px; }
}

.skeletonsGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include layout($screen: (desk, tab)) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
}

.topBar {
  display: none;

  @include layout($screen: (desk, tab)) {
    position: absolute;
    inset-inline: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1200px) {
      inset-inline: 40px;
    }
  }

  @include layout($is-hub: true, $screen: 'tab') { top: 24px; }
  @include layout($is-hub: true, $screen: 'desk') { top: 18px; }

  @include layout($is-hub: false, $screen: 'tab') { top: 18px; }
  @include layout($is-hub: false, $screen: 'desk') { top: 22px; }
}


.logoWrapper {
  display: block;

  @include layout($screen: 'tab') {
    .letter { display: block; }
    .full { display: none; }
  }

  @include layout($screen: 'desk') {
    .letter { display: none; }
    .full { display: block; }
  }
}

.userButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;

  svg {
    width: 18px;
    height: 18px;
    color: #2b2b2b;
  }
}